css 
/* css  style*/

    
body{
display: block;
padding: 0; 
text-align= arial;
background-color: bisque;
}

header {
    padding-left: 0%;
    display: block;
    text-align: left;
    text-align: justify;
}
 
nav a {
  nav-index: initial;
  nav-index: initial;

}

footer {
    padding-left: display;
    background-color: aqua;
    text-decoration: double;
    

    

}    


images {
    width: 0.0.10;
    border-left-width: 0cap;

}

navigation {
    nav-right: current;
    nav animation: display;
    
}

 


}